@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #0ea5e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ecfeff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
